
@{
    ViewData["Title"] = "UserTransactions";
}

<h1>UserTransactions</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Transactions</title>
    <style>
        body {
            padding: 30px;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

    <!--#region  Roic Chart-->
    <div class="row mt-5">
        <div class="col-md-6 col-lg-6">
            <div class="row">
                <h4>User Growth</h4>
            </div>
            <div class="row">
                <table class="table table-sm text-left table-bordered table-hover" style="width:200px">
                    <thead>
                        <tr>
                            <th>
                                <h6>Date</h6>
                            </th>
                            <th>
                                <h6>Company</h6>
                            </th>
                            <th>
                                <h6>Value</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                    <h6 >2000</h6>
                                    <h6 >2001</h6>
                                    <h6 >2010</h6>
                            </td>
                            <td>
                                    <h6 >Apple</h6>
                                    <h6 >Amazon</h6>
                                    <h6 >Microsoft</h6>
                            </td>
                            <td>
                                    <h6 >1560</h6>

                                    <h6 >9750</h6>

                                    <h6 >200</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--#endregion -->

        <!-- HTML Form -->
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="Date">
                </div>

                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder="Company">
                </div>

                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="Value/Number">
                </div>

            </div>
        </div>

        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>



