
@{
    ViewData["Title"] = "UserTransactions";
}

<h1>UserTransactions</h1>

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>

<body>


    <button type="button" class="collapsible">Apple   |  Shares - 28   |  Total Invested - 14500   |</button>
    <div class="content">
        <p>Date         |  Shares   |   Invested  </p>
        <p>20-02-2020   |  28       |   200       </p>
        <p>09-08-2020   |  15       |   7500      </p>
        <p>11-11-2019   |  70       |   460       </p>
    </div>

    <button type="button" class="collapsible">Amazon   |  Shares - 37   |  Total Invested - 24500   |</button>
    <div class="content">
        <p>Date         |  Shares   |   Invested  </p>
        <p>20-02-2020   |  28       |   200       </p>
        <p>09-08-2020   |  15       |   7500      </p>
        <p>11-11-2019   |  70       |   460       </p>
    </div>

    <button type="button" class="collapsible">Microsoft   |  Shares - 108   |  Total Invested - 304000   |</button>
    <div class="content">
        <p>Date         |  Shares   |   Invested  </p>
        <p>20-02-2020   |  28       |   200       </p>
        <p>09-08-2020   |  15       |   7500      </p>
        <p>11-11-2019   |  70       |   460       </p>
    </div>






</body>
</html>



