@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserTransactionViewModel
@{
    ViewData["Title"] = "Portfolio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Portfolio</h2>
        <div class="text-left">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Transaction</button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Transaction</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="UserTransactions">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <table class="table text-sm-left table-light table-bordered table-hover">

                                <tbody>
                                    <tr>
                                        <td>
                                            <label asp-for="Companies" class="control-label"></label>
                                        </td>
                                        <td>
                                            <select asp-for="CompanyId" class="form-control select-fk" asp-items="@ViewBag.CompanyNames">
                                                <option></option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="NumberOfShares" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="NumberOfShares" class="form-control" />
                                            <span asp-validation-for="NumberOfShares" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="ValueOfShares" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="ValueOfShares" class="form-control" />
                                            <span asp-validation-for="ValueOfShares" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="NumberOfSharesWithdrawn" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="NumberOfSharesWithdrawn" class="form-control" />
                                            <span asp-validation-for="NumberOfSharesWithdrawn" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="ValueOfSharesWithdrawn" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="ValueOfSharesWithdrawn" class="form-control" />
                                            <span asp-validation-for="ValueOfSharesWithdrawn" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="DateOfMovement" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="DateOfMovement" class="form-control" />
                                            <span asp-validation-for="DateOfMovement" class="text-danger"></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="form-group modal-footer">
                                <input type="submit" value="Go" class="btn btn-primary" style="background-color:#86bc42; border:#86bc42; width:5rem;" />
                                <br />
                            </div>

                        </form>

                    </div>


                </div>

            </div>
        </div>


        <br />
        <br />
        <br />
        <br />
        <br />
        @foreach (var company in Model.CompaniesTransactions)
        {
            var name = company.CompanyName;
            var shares = company.SharesOwned;
            var totalinvested = company.Invested;
            var withdrawn = company.Withdrawn;
            var value = company.ShareValue;
            var totalGainLoss = company.TotalGainLoss;

    <button type="button" class="collapsible"> Company: @name | Total shares:  @shares   | Total invested:  @totalinvested   | Total withdrawn:  @withdrawn   | Shares value:   @value   | Total Gain/Loss: @totalGainLoss</button>
            <div class="content">
                <p>Date         |  Shares   |   Invested  </p>
                <p>20-02-2020   |  28       |   200       </p>
                <p>09-08-2020   |  15       |   7500      </p>
                <p>11-11-2019   |  70       |   460       </p>
            </div>
        }

    </div>

</body>
</html>

