@*@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserSettingsViewModel
<head>

</head>

<body>

    <h2>Weight Multipliers</h2>
    <br />
    <div>
        <form asp-action="UserSettings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-sm table-dark text-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="WeightNumberRoic" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="WeightNumberEquity" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="WeightNumberEPS" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="WeightNumberRevenue" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="WeightNumberPERatio" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="WeightNumberDebtToEquity" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="WeightNumberAssetsToLiabilities" class="control-label"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="WeightNumberRoic" class="form-control" />
                            <span asp-validation-for="WeightNumberRoic" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="WeightNumberEquity" class="form-control" />
                            <span asp-validation-for="WeightNumberEquity" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="WeightNumberEPS" class="form-control" />
                            <span asp-validation-for="WeightNumberEPS" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="WeightNumberRevenue" class="form-control" />
                            <span asp-validation-for="WeightNumberRevenue" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="WeightNumberPERatio" class="form-control" />
                            <span asp-validation-for="WeightNumberPERatio" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="WeightNumberDebtToEquity" class="form-control" />
                            <span asp-validation-for="WeightNumberDebtToEquity" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="WeightNumberAssetsToLiabilities" class="form-control" />
                            <span asp-validation-for="WeightNumberAssetsToLiabilities" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary" style="background-color:#86bc42; border:#86bc42; width:5rem; float:right;" />
                <br />
                <br />
            </div>
        </form>
    </div>
</body>

<footer>
</footer>*@
