@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserSettingsViewModel
@*@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserTransactionViewModel*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h2 style="text-align:center">Weight Multipliers</h2>
    <br />
    <div>
        <div class="text-left">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Weight Multipliers</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> Weight Multipliers</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="UserTransactions">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <table class="table text-sm-left table-light table-bordered table-hover">

                                <tbody>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberRoic" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberRoic" class="form-control" />
                                            <span asp-validation-for="WeightNumberRoic" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberEquity" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberEquity" class="form-control" />
                                            <span asp-validation-for="WeightNumberEquity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberEPS" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberEPS" class="form-control" />
                                            <span asp-validation-for="WeightNumberEPS" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberRevenue" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberRevenue" class="form-control" />
                                            <span asp-validation-for="WeightNumberRevenue" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberPERatio" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberPERatio" class="form-control" />
                                            <span asp-validation-for="WeightNumberPERatio" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberDebtToEquity" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberDebtToEquity" class="form-control" />
                                            <span asp-validation-for="WeightNumberDebtToEquity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberAssetsToLiabilities" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberAssetsToLiabilities" class="form-control" />
                                            <span asp-validation-for="WeightNumberAssetsToLiabilities" class="text-danger"></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="form-group modal-footer">
                                <input type="submit" value="Ok" class="btn btn-primary" style="background-color:#86bc42; border:#86bc42; width:5rem;" />
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>