@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserSettingsViewModel











<html>
<head>

</head>

<body>

    <header>
       

    </header>



    <h3>alsd asdhas asduhiauhasof asoidjioajs</h3>
    <h3>alsd asdhas asduhiauhasof asoidjioajs</h3>
    <h3>alsd asdhas asduhiauhasof asoidjioajs</h3>


    <footer>

        <script>

        </script>

    </footer>

</body>
</html>










