@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserSettingsViewModel


<div class="popup-container">
    <label class="popup-button" for="login-popup">Notes</label>
    <input type="checkbox" id="login-popup">
    <div class="popup">
        <label for="login-popup" class="transparent-label"></label>
        <div class="popup-inner">
            <div class="popup-title">
                <h6>Notes</h6>
                <label for="login-popup" class="popup-close-btn">Close</label>
            </div>
            <div class="popup-content">
                <form action="">
                    <ul>
                        <li>
                            <input type="text" placeholder="New note">
                        </li>
                        @*<div class="form-group modal-footer">
                                <input type="submit" value="Ok" class="btn btn-primary" asp-action="UserSettings" asp-controller="UserRecords" style="background-color:#86bc42; border:#86bc42; width:5rem;" />
                                <br />
                            </div>*@
                        <li style="width:100px;">
                            <button type="submit" asp-action="UserSettings" asp-controller="UserRecords">Add Note</button>
                        </li>
                        <table>
                            <tbody>
                                @if (Model.Notes.Count == 0)
                                {
                                <td style=" border:#86bc42; width:350px; padding: 2px;">
                                    No notes added
                                </td>
                                }
                                @foreach (var item in Model.Notes)
                                {
                                        <tr>
                                            <td style="background-color:lavender; border:#86bc42; width:350px; padding: 2px;">
                                                @item.Description;
                                            </td>
                                            <td style="background-color:white; width:10px;">
                                            </td>
                                            <td class="far fa-trash-alt">
                                            </td>
                                        </tr>
                                }
                                </tbody>
                            </table>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>



