@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserSettingsViewModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>


    <h2>Titulo</h2>


    @for (int i = 0; i < 5; i++)
    {
        
        <button type="button" class="collapsible">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Apple
                        </td>
                    </tr>
                </tbody>
            </table>
        </button>


        <div class="panel">

            @for (int d = 0; d < 3; d++)
            {
                @if (true)
                {
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Invested
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    111
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        </div>
    }



        <footer>

            <script>
                var acc = document.getElementsByClassName("collapsible");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    });
                }
            </script>

        </footer>

    </body>
</html>









